{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block giris %}
<div class="container" id="wrapper">
	<center>
	<div class="col-sm-16">
		<br/>
		<br/>
		<div class="row">
			<div class='col-md-12'>
				<br/>
				<br/>
				<h1 style="color: #FFFFFF;">Lazımlık Hakkında</h1>
				<table class="table table-bordered" style="color: #001b34;">
					<tr style="margin-top:10px">
						<div class="fieldWrapper">
							<td>
								<h3>Lazımlık Nedir?</h3>
								</br>
								<p>
									Lazımlık, her gün yeni bir konu ile çalışmak ve üretmek isteyenler için yön gösterecek bir platform, karşılıksız ve anonim çalışan bir iş havuzudur.
								</p>
							</td>
						</div>
					</tr>
					<tr>
						<div class="fieldWrapper">
							<td>
								<h3>Kimler İçin?</h3>
								</br>
								<p>
									Bir işin veya materyalin yapılmasına ihtiyaç duyan yani iş vermek isteyenler ile, hiçbir karşılık beklemeden, yapabileceği türden işleri üreten kullanıcılar içindir.
								</p>
							</td>
						</div>
					</tr>
					<tr>
						<div class="fieldWrapper">
							<td>
								<h3>Nasıl Çalışır?</h3>
								</br>
								<p>
									Kullanıcılar sisteme sadece Twitter hesapları ile giriş yapabilirler.Daha sonra, kendileri için bir rumuz belirleyerek bundan sonraki işlemleri bu rumuz üzerinden gerçekleştirirler.
								</p>
							</td>
						</div>
					</tr>
					<tr>
						<div class="fieldWrapper">
							<td>
								<h3>Nasıl İş Verilir?</h3>
								</br>
								<p>
									İşe ihtiyacı olan kullanıcılar, ihtiyaç duydukları materyallerle ilgili özetler hazırlayarak iş yapmak isteyenlere konu üretirler. Bir özette işi verecek kullanıcının belirtmesi gereken alanlar şunlardır; işin tanımı, işin yapılacağı zaman aralığı, işin yapılacağı yer/ortam ve işle ilgili detaylar.
								</p>
							</td>
						</div>
					</tr>
					<tr>
						<div class="fieldWrapper">
							<td>
								<h3>Nasıl İş Alınır?</h3>
								</br>
								<p>
									Kullanıcı bir işi alabilmek için öncelikle işi görüntüler ve detaylarını kontrol eder. Bu bilgiler ışığında işi almak istiyorsa, işe talip olur. Kullanıcı aldığı işi, belirtilen tarih aralığında teslim etmelidir.
								</p>
							</td>
						</div>
					</tr>
					<tr>
						<div class="fieldWrapper">
							<td>
								<h3>İş Nasıl Teslim Edilir?</h3>
								</br>
								<p>
									Kullanıcı işi aldığında profilinde işi teslim et seçeneği bulunur. Kişi işi bitirdiğinde buradan sisteme yükler. Fakat işin kabul olabilmesi için işi veren kullanıcının onaylaması gerekir. Teslim edilen işler ortak bir havuzda toplanır.
								</p>
							</td>
						</div>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</center>
	
</div>
{% endblock %}