{% extends 'temel.html' %}

{% block giris %}
	<div class="jumbotron">
		<div class="container">
			<h3>Lazımlık Nedir?</h3>
			<p>Her gün yeni işlerle birlikte çalışmak ve üretmek isteyenlere yön gösterecek bir platform. Karşılıksız çalışan bir iş havuzu.</p>
		</div>
    </div>
    <div class="jumbotron">
		<div class="container">
			<h3>Nasıl Çalışır?</h3>
			<p>Kullanıcılar Twitter hesapları ile giriş yaparak kendileri için bir rumuz belirleyerek çalışırlar.</p>
		</div>
    </div>
{% endblock %}