{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block giris %}
	<div class="jumbotron">
		<div class="container">
			<h3 style="color: #FFFFFF;">Lazımlık Nedir?</h3>
			<p style="color: #FFFFFF;">Her gün yeni işlerle birlikte çalışmak ve üretmek isteyenlere yön gösterecek bir platform. Karşılıksız çalışan bir iş havuzu.</p>
		</div>
    </div>
    <div class="jumbotron">
		<div class="container">
			<h3 style="color: #FFFFFF;">Nasıl Çalışır?</h3>
			<p style="color: #FFFFFF;">Kullanıcılar Twitter hesapları ile giriş yaparak kendileri için bir rumuz belirleyerek çalışırlar.</p>
		</div>
    </div>

        <div class="jumbotron">
		<div class="container">
			<h3 style="color: #FFFFFF;">Nasıl İş Verilir?</h3>
			<p style="color: #FFFFFF;"></p>
		</div>
    </div>
{% endblock %}