{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block giris %}
	<div class="jumbotron" style="background-image: url(/media/back1.jpg);">
		<div class="container">
			{% load staticfiles %}
			<center><img src="{% static "../media/logo1.png" %}" alt="Footer"/></center>
			<h1 align="center" style="color: #FFFFFF;">Ortak Üret!</h1>
			<h4 align="center" style="color: #FFFFFF;">Anonim kalarak ortak üretim yapmak ister misiniz?</h4>
			<center><p><a href="{% url 'about' %}" class="btn btn-primary btn-bg">Daha Fazla.. &raquo;</a></p></center>
		</div>
	</div>
	<div>

		{{ workers }}

	</div>

{% endblock %}