{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block icerik %}

	<h1 style="color: #FFFFFF;">Tüm Kullanıcıları Yapmış Olduğu İşler</h1>
	{% if documents %}
			{% for document in documents %}
			<table class="table table-bordered">
					<tr>
						<div class="fieldWrapper">
							<td><label>Yapan:</label></td>
							<td>{{ document.isid.isi_yapan_kullanici }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Tanımı:</label></td>
							<td>{{ document.isid.tanim }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Detaylar:</label></td>
							<td>{{ document.isid.detay }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Materyal:</label></td>
							<td><a href="{{ document.docfile.url }}">{{ document.docfile }}</a></td>
						</div>
					</tr>
				</table>
			{% endfor %}
	{% else %}
		<p>Teslim edilmiş iş yok..</p>
	{% endif %}

{% endblock %}