{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block icerik %}

		<form action="{% url 'is_teslim_et' isno.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>

	<div class="jumbotron" style="background-image: url(/media/back1.jpg);">
		<div class="container">
			<h1 align="center" style="color: #FFFFFF;">İş başarıyla teslim edildi!</h1>
			<center>
				<a href="{% url 'userdetail' %}" type="button" class="btn btn-success">Kullanıcı Detayları</a>
			</center>
		</div>
	</div>
{% endblock %}