{% extends 'temel.html' %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-image: url(/media/navbar1.png);">
    <div class="container">
    	<div class="navbar-header">
       		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
			<a class="navbar-brand" href='{% url "home" %}'><b>Lazımlık</b></a>
    	</div>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>    	
  	</div>
</nav>

{% endblock %}
{% block icerik %}

	<div class="row">
		{% for is in isler %}
			<div class='col-md-6'>
				<table class="table table-bordered">
					<tr>
						<div class="fieldWrapper">
							<td><label>Tanımı:</label></td>
							<td>{{ is.tanimi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Başlangıç Tarihi:</label></td>
							<td>{{ is.baslama_tarihi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Bitiş Tarihi:</label></td>
							<td>{{ is.bitis_tarihi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Detaylar:</label></td>
							<td>{{ is.detaylar }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Yer:</label></td>
							<td>{{ is.sehir }}</td>
						</div>
					</tr>
					{{ counter = counter + 1 }}

					<div class="fieldWrapper">
						<a href="{% url 'is_al' %}" type="button" class="btn btn-success navbar-btn">İşi Al</a>
					</div>

				</table>
			</div>
		{% endfor %}
	</div>

{% endblock %}