{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block icerik %}

	<div class="row">
		{% for is in isler %}
			<div class='col-md-6'>
				<table class="table table-bordered">
					<tr>
						<div class="fieldWrapper">
							<td><label>Tanımı:</label></td>
							<td>{{ is.tanim }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Başlangıç Tarihi:</label></td>
							<td>{{ is.baslangic_tarihi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Bitiş Tarihi:</label></td>
							<td>{{ is.bitis_tarihi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Detaylar:</label></td>
							<td>{{ is.detay }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Yer:</label></td>
							<td>{{ is.sehir }}</td>
						</div>
					</tr>
				</table>
				<div class="fieldWrapper" style="float:right">
						<a href="{% url 'is_al' is.id %}" type="button" class="btn btn-success navbar-btn">İşi Al</a>
					</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
