{% extends 'temel.html' %}

{% block icerik %}

	<div class="row">
		{% for is in isler %}
			<div class='col-md-6'>
				<table class="table table-bordered">
					<tr>
						<div class="fieldWrapper">
							<td><label>Tanımı:</label></td>
							<td>{{ is.tanimi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Başlangıç Tarihi:</label></td>
							<td>{{ is.baslamaTarihi }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Bitiş Tarihi:</label></td>
							<td>{{ is.bitisTarihi }}</td>
						</div>
					</tr>

					<tr>
				    	<div class="fieldWrapper">
							<td><label>Detaylar:</label></td>
							<td>{{ is.detaylar }}</td>
						</div>
					</tr>

					<tr>
						<div class="fieldWrapper">
							<td><label>Yer:</label></td>
							<td>{{ is.sehir }}</td>
						</div>
					</tr>
				</table>
			</div>
		{% endfor %}
	</div>

{% endblock %}