<nav class="navbar navbar-inverse navbar-fixed-top"  style="background-color: #55acee;">
    <div class="container">
    	<div class="navbar-header">
    		<a class="navbar-brand" rel="home" href="/" title="Brand">
				<img style="height: 30px; margin-top: -5px;" src="{{ MEDIA_URL }}logo">
			</a>
       		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
    	<a class="navbar-brand" href='{% url "home" %}'><b>Lazımlık</b></a>
    	</div>
    	<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
    			<li><a href='{% url "isverelim" %}'>İş Ver</a></li>
    			<li><a href='{% url "isyapalim" %}'>İş Yap</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
    			<a href="{% url 'logout' %}" type="button" class="btn btn-success navbar-btn">Çıkış</a>
    		</ul>
    	</div>
  	</div>
</nav>