{% extends 'temel.html' %}

{% block navbar %}
	{% include 'navbar_cikis.html' %}
{% endblock %}

{% block icerik %}

	<div class="row">
		<div class='col-md-6'>
			{% for n in kullanici %}
			<h1 style="color: #FFFFFF;">Kullanıcı Detayları</h1>
			<table class="table table-bordered">
				<tr>
					<div class="fieldWrapper">
						<td><label>Kullanıcı:</label></td>
						<td>{{ n.user }}</td>
					</div>
				</tr>

				<tr>
					<div class="fieldWrapper">
						<td><label>Rumuz:</label></td>
						<td>{{ n.rumuz }}</td>
					</div>
				</tr>
			</table>
			{% endfor %}
			<div class='col-md-6'>
				<a href="{% url 'alinan_isler' %}" type="button" class="btn btn-success navbar-btn">Alınan İşler</a>
			</div>
			<div class='col-md-6'>
				<a href="{% url 'is_havuzu' %}" type="button" class="btn btn-success navbar-btn">İş Havuzu</a>
			</div>
		</div>
	</div>

{% endblock %}


