.jumbotron {
	background-color: #E5E5E5;
}

.navbar-inverse .navbar-nav>li>a {		
	color: #FFFFFF;		
}

.btn {
	font-size: 16px;
	border-radius: 6px;
}

body {
	font-size: 16px;
}
body {
	background-color: #406464;
}

table {
	background-color: rgb(137, 166, 156);
}
